/* BODY */

body {
    background-color: #272935;
    font-family: 'Work Sans', sans-serif;
}

body div {
    max-width: 860px;
    margin: auto;
}

/* LIGHT MODE */

.light-mode,
.light-mode nav p {
  background-color: #f8f8f8;
}

.light-mode nav p,
.light-mode main p,
.light-mode .skills-div h2,
.light-mode figcaption,
.light-mode .project-div h2 {
  color: #272935;
}

.light-mode .sun-icon {
  content: url("../images/moon-icon.png");
}

.light-mode .linkedin-light {
  content: url("../images/linkedin-icon-light.png");
}

.light-mode .github-light {
  content: url("../images/github-icon-light.png");
}

.light-mode .html-light {
  content: url("../images/html5-icon-light.png");
}

.light-mode .css-light {
  content: url("../images/css-icon-light.png");
}

.light-mode .js-light {
  content: url("../images/js-icon-light.png");
}

.light-mode .git-light {
  content: url("../images/git-icon-light.png");
}

.light-mode .circle1 {
  border: 2.5px dashed #20d820;
}

.light-mode .circle2 {
  border: 2.5px dashed #0ea1db;
}

.light-mode .project-div img {
  border: 1px solid #272935;
}

.light-mode .project-div input {
  color: #272935;
  background-color: #0ea1db;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* NAV */
nav {
    display: inline-block;
    width: 100%;
}

nav p {
    color: #ffffff;
    font-weight: bold;
    font-size: 21px;
    float: left;
    margin-top: 4px;
    margin-left: 3px;
}

.icon {
    float: right;
    width: 33px;
}

/* PHOTO AND CIRCLES */

.photo-and-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 170px;
}

.photo {
    position: absolute;
    height: 230px;
    width: 230px;
    border-radius: 50%;
}

.circle1 {
    position: absolute;
    width: 270px;
    height: 270px;
    border-radius: 50%;
    animation: spin1 35s linear infinite;
    border: 2.5px dashed #2870dd;
  }
  
.circle2 {
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    animation: spin2 40s linear infinite;
    border: 2.5px dashed #dd8f11;
  }
  
@keyframes spin1 { 
    100% { 
      transform: rotateZ(360deg);
    }
  }

@keyframes spin2 { 
    100% { 
      transform: rotateZ(-360deg);
    }
  }

/* TEXT */

.text-div {
    padding-top: 160px;
}

main p {
    text-align: center;
    font-size: 17px;
    color: #ffffff;
}

main p span {
    font-size: 23px;
}

/* SKILLS DIV */

.skill-div {
  display: inline-block;
  width: 100%;
}

.skills-div h2 {
  color: #ffffff;
}

.skill-icon {
  width: 38px;
}

figcaption {
  color: #ffffff;
  font-size: 10px;
}

.icon-and-capt {
  display: inline-block;
  text-align: center;
  padding-left: 10px;
}

/* PROJECT DIV */

.project-div h2 {
  color: #ffffff;
}

.project-div img {
  width: 260px;
  border-radius: 8px;
}

.project-div figcaption {
  font-size: 16px;
}

.project-div input{
  color: #ffffff;
  background-color: #dd8f11;
  border: none;
  border-radius: 8px;
  height: 30px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}