* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  padding-top: 32px;
  color: white;
  background-color: black;
  max-width: 1200px;
  width: 90%;
}
